body {
    background-color: #001c30;
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    margin: 200px 175px;
    padding: 15px 50px 50px 40px;

}

h2 {
    color: rgb(245,255,250);
    margin-left: 355px;
}

ul {
    list-style-type: none;
}

button {
    color: black;
    background-color: #176b87;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 5px 5px;
}

button:hover {
    background-color: #001c30;
    color: #001c30;
    transition: 0.3s;
}

.LightGreenKey {
    background-color: #64ccc5;
}
.DarkPinkKey {
    background-color: #ff9eaa;
}
.WhiteKey {
    background-color: #dafffb;
}
.LightPinkKey {
    background-color: #ffd0d0;
}

.shift{
    padding: 15px 50px;
}

#capslock {
    padding: 15px 10px;
}

.small {
    padding: 15px 23px;
}

#i {
    padding: 15px 24px;
}

#d {
    padding: 15px 23px;
}

#c {
    padding: 15px 23px;
}

#enter {
    padding: 15px 31px;
}

#line {
    padding: 15px 34px;
}

#delete {
    padding: 15px 34.4px;
}